@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: Montserrat;
  height: 100vh;
}
div#root {
  height: 100%;
}
.wrap-container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.buy-fonts {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.tabs {
  .tab-title {
    display: inline-block;
    margin-top: 0;
    padding: 10px 0;
  }
  .tab-list {
    list-style: none;
    text-align: right;
    margin-top: 0;
    float: right;
    li {
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase;
      padding: 10px 20px;
      font-weight: bold;
      color: #ccc;
      &.active {
        color: orange;
      }
    }
  }
}
.my-fonts {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
}
.card {
  padding: 2px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  &::after {
    content: "";
    clear: both;
    display: block;
  }
  &.selected {
    opacity: 50%;
  }
  .card-color {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2px;
    height: 100px;
    width: 30%;
    color: #ccc;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    .card-abbr {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: flex-end;
      border-radius: 10px;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  .card-detail {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    font-weight: bold;
    ul {
      margin: 0;
    }
  }
}

// Tablet
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .wrap-container {
    width: 700px;
  }
  .card {
    .card-color {
      width: 20%;
    }
  }
}

// Mobile
@media screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
  .wrap-container {
    width: 400px;
  }
  .card {
    .card-color {
      width: 100px;
    }
  }
}

// Small mobile
@media screen and (max-width: 400px) {
  .my-fonts {
    text-align: center;
  }
  .card {
    margin-bottom: 20px;
    .card-detail {
      margin-top: 10px;
      ul {
        padding-left: 0;
        list-style: none;
      }
    }
  }

}

.header-col, .sumary-col { 
  font-weight: bold;
}
.header-col {
  font-size: 20px;
}
.sumary-col { 
  font-style: italic;
}
tr.data-col td:first-child {
  text-indent: 70px;
}
tr.level-1 td:first-child {
  text-indent: 0px;
}
tr.level-2 td:first-child {
  text-indent: 15px;
}
tr.level-3 td:first-child {
  text-indent: 30px;
}
tr.level-4 td:first-child {
  text-indent: 45px;
}
tr.level-5 td:first-child {
  text-indent: 60px;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
  thead {
    tr {
      th {
        background: gainsboro;
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.google-chart {
  display: flex;
  justify-content: center;
}


